.buttons-list{
    display:flex;
    gap:10px;
    position:absolute;
    left:50%;
    transform:translate(-50%, -50%)
}

.buttons-list a{
    background: #f3f3f3;
    padding:4px 10px;
    cursor:pointer;
    color:#ed798e;
    border:1px solid #dbd5d6;
    border-radius:4px;
}

.buttons-list a:hover{
    text-decoration:underline;
}
